<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="in.hobnob.geolocation"
  version="0.0.1">

    <name>HobNob Geolocation</name>
    <description>Custom geolocation for HobNob</description>
    <author>La Factoria - Pascal Merme</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4.git" />
    <dependency id="com.google.playservices" url="https://github.com/MobileChromeApps/google-play-services.git" />

    <js-module src="www/hobnobGeolocation.js" name="hobnobGeolocation">
        <clobbers target="hobnob.geolocation" />
    </js-module>

   <!--  <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HelloWorldPlugin">
                <param name="ios-package" value="HelloWorldPlugin"/>
            </feature>
    </config-file>
    <header-file src="src/ios/HelloWorldPlugin.h" target-dir="src/ios" />
        <source-file src="src/ios/HelloWorldPlugin.m" target-dir="src/ios" />
    </platform> -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="HobnobGeolocation">
                <param name="android-package" value="in.hobnob.HobnobGeolocation"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="in.hobnob.GpsTrackerBootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
            <receiver android:name="in.hobnob.GpsTrackerAlarmReceiver">
            </receiver>
            <service android:name="in.hobnob.LocationService">
            </service>
        </config-file>
        <source-file src="src/android/HobnobGeolocation.java" target-dir="src/in/hobnob" />
        <source-file src="src/android/GpsTrackerAlarmReceiver.java" target-dir="src/in/hobnob" />
        <source-file src="src/android/GpsTrackerBootReceiver.java" target-dir="src/in/hobnob" /> 
        <source-file src="src/android/LocationService.java" target-dir="src/in/hobnob" /> 
        <source-file src="src/android/LoopjHttpClient.java" target-dir="src/in/hobnob" />
        <source-file src="src/android/libs/android-async-http-1.4.6.jar" target-dir="libs" />
    </platform>

    <platform name="ios">
        <!-- required background modes:  App registers for location updates -->
        
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app requires background location tracking</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundGeoLocation">
                <param name="ios-package" value="CDVBackgroundGeoLocation"/>
            </feature>
        </config-file>
        <framework src="AVFoundation.framework" weak="true" />
        <source-file src="src/ios/CDVBackgroundGeoLocation.m" />
        <header-file src="src/ios/CDVBackgroundGeoLocation.h" />
    </platform>    
</plugin>