<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="in.hobnob.geolocation"
  version="0.0.1">

    <name>HobNob Geolocation</name>
    <description>Custom geolocation for HobNob</description>
    <author>La Factoria - Pascal Merme</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="www/hobnobGeolocation.js" name="hobnobGeolocation">
        <clobbers target="hobnob.geolocation" />
    </js-module>

   <!--  <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HelloWorldPlugin">
                <param name="ios-package" value="HelloWorldPlugin"/>
            </feature>
    </config-file>
    <header-file src="src/ios/HelloWorldPlugin.h" target-dir="src/ios" />
        <source-file src="src/ios/HelloWorldPlugin.m" target-dir="src/ios" />
    </platform> -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="HobnobGeolocation">
                <param name="android-package" value="HobnobGeolocation"/>
            </feature>
        </config-file>
        <source-file src="src/android/HobnobGeolocation.java" target-dir="src/in/hobnob" />        
    </platform>
</plugin>